$font-texte: 'Roboto', sans-serif;
$font-logo-titres: 'Shrikhand', cursive;
/*Couleurs principales*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
/*Couleurs supplémentaires*/
$grisclair: #F6F6F6; 
$grismoyen: #D5D5D5;
$grisfonce: #353535;

//page

* {
    box-sizing: border-box;
}

//logo

.logo {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    position: relative;
    a {
        font-size: 1em;
        padding: 10px;
        position: absolute;
        top: -2px;
        left: 5px;
    }
}

//Localisation

.localisation {
    font-family: $font-texte;
    .localisation__icone {
        font-size: 1em;
        color: $grisfonce;
        text-align: center;
        background-color: darken($grisclair, 5);
        box-shadow: inset 0 2.5px 3px $grismoyen;
        i {
            padding-right: 10px;
        }
        h4 {
            display: inline-block;
        }
    }
}

//Présentation du site

.presentation {
    font-family: $font-texte;
    background-color: $grisclair;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    .presentation__site {
        h2 {
            text-align: center;
            justify-content: center;
            padding: 0 80px;
            }
        p {
            text-align: center;
            padding: 10px 45px;
            }
        }
    .presentation__btn {
        margin: 10px 0 20px 0;
        text-align: center;
        width: 100%;
        height: 50px;
        padding-top: 15px;
        a {
        background-image: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
        border-radius: 50px;
        box-shadow: 3px 5px 7px $grismoyen;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        }
    }
}

//Mode d'emploi

.fonctionnement {
    font-family: $font-texte;
    h3 {
        padding: 30px 20px;
    }
    .fonctionnement__site {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.site__btn {
    display: flex;
    align-items: center;
    width: 80%;
    height: 65px;
    background-color: $grisclair;
    border-radius: 15px;
    box-shadow: 1px 2px 11px $grismoyen;
    margin: 0 0 30px 0;
    position: relative;
    cursor: pointer;
    .btn__numero {
        width: 23px;
        height: 23px;
        color: white;
        text-align: center;
        background-color: $couleur-primaire;
        border-radius: 25px;
        position: absolute;
        line-height: 24px;
    }
    i {
        width: 15px;
        color: $grismoyen;
        padding: 0 10px 0 30px;
    }
    p {
        font-weight: 500;
        padding-left: 20px;
    }
    &--actif {
        background-color: darken($grisclair, 3);
        i {
            color: $couleur-primaire;
        }
    }

}