@import "./utils/variables";
@import "./utils/breakpoint";

@import "./base/police";

@import "./components/animations";

@import "./layout/logo";
@import "./layout/localisation";
@import "./layout/presentations";
@import "./layout/fonctionnement";
@import "./layout/restaurants";
@import "./layout/footer";


//page

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Pages restaurants

.menu {
    display: flex;
    flex-direction: column;
    .menu__img {
        width: 100%;
        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    .menu__element {
        width: 100%;
        margin-top: -60px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: $grisclair;
    }
}

.element__titre {
    h2 {
        font-family: $font2;

    }
    .fa-heart {
        position: absolute;
        right: 30px;
        font-size: 25px;
    }
}

.element__carte {
    font-family: $font-texte;
    display: flex;
    flex-direction: column;
    .carte__bloc {
        margin: 20px 0 30px 0;
        width:100%;
        h3 {
            text-transform: uppercase;
            &:after {
                display: block;
                background: none repeat scroll 0 0 $couleur-tertiaire;
                position: relative;
                width: 50px;
                height: 3px;
            }    
        }
    }

.carte__container {
    display: flex; 
    margin: 0;
    flex-direction: column;
    margin-top: -40px;
    .carte__objet {
        .objet__btn {
            background-color: white;
            border-radius: 15px;
            display: block;
            width: 95%;
            height: 60px;
            box-shadow: 5px 5px 15px $grismoyen;
            cursor: pointer;
            margin-bottom: 17px;
            p {
                display: block;
            }
        }
        .objet__prix {
            background-color: white;
        }
    }
}


.commander {
    text-align: center;
    width: 250px;
    color: white;
    height: 45px;
    line-height: 45px;
    margin: 25px auto 40px auto;
    position: relative;
    box-shadow : 5px 5px 7px $grismoyen;
    background-color: $couleur-primaire;
    z-index: 1;
    border-radius: 55px;
    background-image: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
    a {
       padding: 20px 55px;
    }
}
}