@import url(../utils/variables.scss);
@import url(../base/police.scss);

$font-texte: 'Roboto-Regular';
$font2: 'Shrikhand-Regular';

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$grisclair: #F6F6F6; 
$grismoyen: #D5D5D5;
$grisfonce: #353535;

//Localisation

.localisation {
    font-family: $font-texte;
    .localisation__icone {
        font-size: 1em;
        color: $grisfonce;
        text-align: center;
        background-color: darken($grisclair, 5);
        box-shadow: inset 0 2.5px 3px $grismoyen;
        i {
            padding-right: 10px;
        }
        h4 {
            display: inline-block;
        }
    }
}