//Présentation du site

.presentation {
    font-family: $font-texte;
    background-color: $grisclair;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    .presentation__site {
        h2 {
            text-align: center;
            justify-content: center;
            padding: 0 80px;
            }
        p {
            text-align: center;
            padding: 10px 45px;
            }
        }
    .presentation__btn {
        margin: 10px 0 20px 0;
        text-align: center;
        width: 100%;
        height: 50px;
        padding-top: 15px;
        a {
        background-image: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
        border-radius: 50px;
        box-shadow: 3px 5px 7px $grismoyen;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        }
    }
}