@font-face {
    font-family: 'Shrikhand-Regular';
    src:url(/Elaudie/ElodieRie_3_09052021/font/Shrikhand-Regular.ttf.woff') format('woff'),
        url(/Elaudie/ElodieRie_3_09052021/font/Shrikhand-Regular.ttf.svg#Shrikhand-Regular') format('svg'),
        url(/Elaudie/ElodieRie_3_09052021/font/Shrikhand-Regular.ttf.eot'),
        url(/Elaudie/ElodieRie_3_09052021/font/Shrikhand-Regular.ttf.eot?#iefix') format('embedded-opentype');}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/Elaudie/ElodieRie_3_09052021/font/Roboto-Regular.woff') format('woff');
}    

$font-texte: 'Roboto-Regular';
$font2: 'Shrikhand-Regular';